<div class="d-flex justify-content-between flex-wrap flex-md-nowrap">
    <h1>Dashboard</h1>
</div>

<div class="mt-2 mb-4 pb-4 border-bottom">    
    <div class="col-md">Test</div >
    <div class="col-md">Test 2</div>  
</div>    
    
<div >
        <h2>Latest Log Entries</h2>
        <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>Header</th>
                <th>Header</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1,001</td>
                <td>Lorem</td>
                <td>ipsum</td>
            </tr>
            <tr>
                <td>1,001</td>
                <td>Lorem</td>
                <td>ipsum</td>
            </tr>
            <tr>
                <td>1,001</td>
                <td>Lorem</td>
                <td>ipsum</td>
            </tr>
            </tbody>
        </table>
        </div>
</div>
