<nav class="navbar navbar-expand sticky-top flex-column flex-md-row p-0 nav-grey">
      <a class="navbar-brand mr-md-2 pl-3" href="/" >
        <img src="../assets/images/Tracker_logo.png" width="30" height="30"  alt="Tracker.io Logo">
    </a>
    <a class="navbar-brand mr-auto navTitle" href="/">Tracker.io</a>

    <!-- Needs to be updated by some authenticator service so that this sign in button can change depending on login status -->
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
        <a class="nav-link auth" href="#" id="auth">Sign In</a>
        </li>
    </ul>
</nav>
